.idea
.DS_Store
node_modules/
compodb-demoUI/.vscode
compodb-core/connectors/http/static/
compodb-core/connectors/http/.tmp
compodb-core/tests/data/
compodb-core/tests/queries/substrait
compodb-core/data/
__pycache__/
site