datafusion==32.0.0
duckdb==0.10.2
filelock
ibis-framework
ibis-framework[duckdb]
ibis-substrait
JPype1
protobuf
--extra-index-url https://pypi.fury.io/arrow-nightlies --prefer-binary --pre
pyarrow==16.0
pytest
pytest-snapshot
pytest-xdist
substrait==0.18.0
substrait-validator
python-dateutil
pyvelox
polars-lts-cpu